body {
    background: url('./assets/images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    box-sizing: border-box;
}

span.v-logo {
    font-family: cursive;
    font-size: 40px;
    font-style: italic;
}

.wrapper {
    background: red;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
    padding: 0;
    margin: 0;
}

.app-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    color: grey;
}