body {
    background: url('./assets/images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    box-sizing: border-box;
}

span.v-logo {
    font-family: cursive;
    font-size: 40px;
    font-style: italic;
}

.wrapper {
    background: blue;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
    padding: 0;
    margin: 0;
}

.app-footer {
    color: white;
    margin-top: 10px;
    position: fixed;
    bottom: 0;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #002B36;
    border-radius: 50px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #002B36;
}


/* width */

::-moz-scrollbar {
    width: 10px;
}


/* Track */

::-moz-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-moz-scrollbar-thumb {
    background: #002B36;
    border-radius: 50px;
}


/* Handle on hover */

::-moz-scrollbar-thumb:hover {
    background: #002B36;
}