<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>About Us Page</title>
    </head>
    <body>
        <h1>{{pageName}}</h1>
        <p>We are developers</p>
        {{> _footer}}

    </body>

</html>