.app-dashboard {
    background: #8C0E18;
    color: white;
    opacity: 0.7;
    border-right: 0px solid transparent !important;
}

.app-dashboard a,
a.dashboard-link {
    background: #8C0E18;
    color: white;
    opacity: 0.9;
}

.app-dashboard a:hover,
a.dashboard-link:hover {
    background: #8C0E18;
    color: white;
    opacity: 0.6;
    cursor: pointer;
}

.full-page {
    color: white;
    position: fixed;
    left: 0;
    top: 70%;
    width: 30px;
    height: 30px;
    background-color: #111194;
    padding: 3px;
    box-shadow: 0px 1px 2px 2px grey;
    cursor: pointer;
    border-radius: 100%;
    font-size: 20px;
}

button.toggleSideBar {
    cursor: pointer;
    position: fixed;
    bottom: 25%;
    left: 0%;
    background-color: #002451;
    border-radius: 100%;
    opacity: 0.5;
    border: none;
    box-shadow: 0px 1px 2px 2px grey;
    z-index: 40000000;
}

button.toggleSideBar:hover {
    background-color: #8C0E18;
}